%% Wishlist in the Form {"Artist", "Title" }. and so on from all within the brackets.
%% Empty Template: { "", "" }.                                              
{"Granufunk", "Der Himmel con Hollywood"  }.
{"File Brazilia", "Lieut. Gingivitis Shit"  }.       
{"Adam Shaikh", "Emergence (Sub Dub Remix)" }. 
{"Fresh Moods", "Rhythm Breeze" }. 


