%% Wishlist in the Form {"Artist", "Title" }. and so on from all within the brackets.
%% btw: musiccrawler is insensitive against case sensitiveness...
%% Empty Template: { "", "" }.                                              
{" Granufunk", "Der Himmel con Hollywood"  }.
{"File Brazillia", "*"  }.       
{"Adam Shaikh", "Emergence (Sub Dub Remix)" }. 
{"Fresh Moods", "Rhythm Breeze" }.       
{"Verbrilli Sound ", "Descender"}.                
{"Hardfloor", "Dubdope"}.   
{"Hedfunk", "Inosan"}.    
{"Dzihan & Kamien","*"}.                 
{"Galactic Rebirth", "Cyndonia"}.
{"Jon Hopkins", "*"}.
{"Orb","Spanish castles in space"}.      
{"Cantoma","*"}.         
{"Baby Mammoth","Danger Of The Rocks"}.          
{"Chilled C'Quence","Chill in natura"}.      
{"Boards of Canada","Dayvan Cowboy"}.
{"Count Basic","Gotta (Jazz)"}.  
{"peace orchestra","marakesh"}.     
{"Orb","Backside Of The Moon"}.      
{"Tosca","Bass on the Boat"}.    
{"Bullitnuts","Fortean Daze"}.      
{"Big Muff","Poppy's Song"}.      
{"Kid Loco","The Wrong Number"}.  
{"Daniel Masson","Les Rubans"}.
{"Field Rotation","Zeitreise"}.
{"Liquid Zen","*"}.          
{"Gorillaz","*"}.      
{"Darshan Ambient","Azure Day"}.      
{"Quantic", "Time is the Enemy"}. 
{"higher intelligence agency", "Spectral"}.
{"cornershop", "butter the soul"}. 
{"Euphoria", "Delirium (File Brazilia Mix)"}.  
{"Aim", "Interview"}.     






    


