%% Configuration of Radio-streams
[ 	                         
	{groovesalad_somafm, ambient, "scfire-mtc-aa03.stream.aol.com", 80, "/stream/1018" },
	{loungeradio_swiss, ambient, "de1.streamhosting.ch", 8050, "/"},
	{jazz_radio, ambient, "listen.radionomy.com", 80, "/"}
].
                                         

	