%% Configuration of Radio-streams - get converted into an array - just separate by dot.
%%{www181fm, chill, "scfire-dtc-aa01.stream.aol.com", 80, "/stream/1092"}.
{groovesalad_somafm, ambient, "scfire-mtc-aa03.stream.aol.com", 80, "/stream/1018" }.
{www181fm, ambient, "scfire-mtc-aa03.stream.aol.com", 80, "/stream/1092" }.
             

                                         

	